body { font-family: sans-serif; }
.board {
    margin: 25%;
    margin-top: 25%;
    width: 770px; background: #f0f0f0;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 70px);
    grid-gap: 3px;
    display: grid;
    border: 1px solid #ddd;
    cursor: pointer;
}
.box {
    background: #fff; display: flex; justify-content: center; align-items: center;
    font-size: 2rem; color: #222;
}
.box:hover {
    background: #fafafa;
}
#zielony{
    background-color: greenyellow;
}
#czerwony{
    background-color: palevioletred;
}
#niebieski{
    background-color: aqua;
}